body{
    height: 100%;
    padding-top: 0;
}

p{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

}

#endScreenCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70vw;
    margin: 0 auto;
    height: 80%;
    font-size: 2rem;
    color: black;
    border-radius: 45px 45px 0 0;
    font-family: "Ubuntu", sans-serif;
}

#endScreenCard h1{
    margin: 3rem 0 3rem 0;
}

#scoreDiv{
    display: flex;
    margin-bottom: 2.7rem;
}

#leftDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

#leftDiv h2{
    font-size: 8rem;
}

#scoreTextTwo{
    opacity: 70%;
}

#rightDiv{
    width: 20vw;
    height: 100%;
    background-color: gray;
}

#answerDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    border: 2px solid lightgray;
    border-radius: 1rem;
}

#answerDivHeader{
    text-align: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    opacity: 80%;
}

#endScreenCard img{
    width: 32px;
}

#cardNav{
    padding-top: 2rem;
    display: flex;
    gap: 20px;
    height: 10%;
    width: 50vw;
}

#cardNav button:nth-child(n){
    flex: 1;
    background-color: #4F6DF5;
    border: 0;
    border-radius: 0.5rem;
    color: white;
    padding: 0 2rem;
    font-size: 1em;
    cursor: pointer;
}
