body {
    height: 100%;
    padding-top: 0;
    background: linear-gradient(to bottom, #EDBAAE, #E9DCEB, #E9DFF0);
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

#endScreenCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50vw;
    margin: 0 auto;
    height: 90%;
    font-size: 2rem;
    color: black;
    border-radius: 45px 45px 0 0;
    font-family: "Ubuntu", sans-serif;
}

#endScreenCard h1 {
    margin: 3rem 0 3rem 0;
}

#scoreDiv {
    display: flex;
    margin-bottom: 2.7rem;
}

#leftDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

#leftDiv h2 {
    font-size: 8rem;
}

#scoreTextTwo {
    opacity: 70%;
}

#rightDiv {
    width: 15vw;
    height: 100%;
    background-color: gray;
}

#answerDiv {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 30%;
}

#answerDivHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 80%;
    height: 20%;
    
}

#answerDivHeader {
    text-align: center;
}

#individQContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    text-align: center;
}

.individQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    gap: 20px;
}

#endScreenCard img {
    width: 3rem;
}

#cardNav {
    padding-top: 2rem;
    display: flex;
    gap: 1em;
    height: 10%;
    width: 40vw;
}

#cardNav button:nth-child(n) {
    flex: 1;
    background-color: #4f6df5;
    border: 0;
    border-radius: 0.5rem;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
