body{
    padding-top: 0;
}

h1{
    padding: 0;
    margin: 0;
}

h1 span{
    display: block;
    font-size: 2rem;
}



#heroDiv{
    display: flex;
    flex-direction: column;
    background-color: #4F6DF5;
    height: 90vh;
    width: 100%;
    padding-top: 6rem;
    gap: 3rem;
}

#heroDiv img{
    width: auto;
}

#textSection{
    /* gap: 2rem; */
}

#textSectionButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

#textSectionButtons button:nth-child(1){
    background-color: white;
    padding: 15px 32px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1em;
}

#textSectionButtons button:nth-child(1):hover{
    background-color: #4F6DF5;
    border: 1px solid white;
    color: white;
}

#textSectionButtons button:nth-child(2){
    background-color: #4F6DF5;
    padding: 15px 32px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1em;
}

#textSectionButtons button:nth-child(2):hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}




@media (min-width: 768px) {
h1 span{
    font-size: 3rem;
}

#heroDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #4F6DF5;
    height: auto;
    top: 0;
    z-index: 0;
    padding-top: 8rem;
}


#heroDiv img{
    width: 25rem;
}


#heroDiv p{
    font-size: 1.3rem;
}


#textSection{
    margin: auto 0;
    width: 40%;
    height: 30%;
}

#textSectionButtons{
    justify-content: flex-start;
    gap: 1rem;
}
}