body{
    padding-top: 0;
}

#heroDiv{
    display: flex;
    flex-direction: column;
    background-color: #4F6DF5;
    width: 100%;
    padding-top: 6rem;
}

#heroDiv img{
    width: auto;
}



@media (min-width: 768px) {
    h1{
    padding: 0;
    margin: 0;
}

#heroDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #4F6DF5;
    height: auto;
    top: 0;
    z-index: 0;
}


#heroDiv img{
    width: 25rem;
}


h1 span{
    display: block;
    font-size: 3rem;
}

#heroDiv p{
    font-size: 1.3rem;
}



#textSection{
    margin: auto 0;
    width: 40%;
    height: 30%;

}
}