h1{
    padding: 0;
    margin: 0;
}

h1 span{
    display: block;
    font-size: 3rem;
}

#heroDiv p{
    font-size: 1.3rem;
}

#heroDiv{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #4F6DF5;
    height: 32rem;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 0;
}

#textSection{
    margin: auto 0;
    width: 40%;
    height: 30%;

}