body {
    background: gray;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-size: 100% auto;
    padding-top: 8rem;
    overflow-x: hidden;
}

h2 {
    margin: 0;
}


.spotlight {
    position: fixed;
    inset: 0;
    z-index: 1000;
    --r: 0px;
    --x: 50%;
    --y: 50%;
    --dim: rgb(0, 0, 0);

    background: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent 98%,
        var(--dim) 100%
    );
}
