body{
    background: #011615;
    margin: 0;
    padding: 0;
    color: #D6DEC3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: 100% auto;
    padding-top: 8rem;
}

h2 {
    margin: 0;
}

main{
    height: 5000px;
}

.spotlight {
    position: fixed;
    inset: 0;
    z-index: 1000;
    --r: 0px;          
    --x: 50%;             
    --y: 50%;             
    --dim: rgb(0, 18, 13);

    background: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent 98%,
        var(--dim) 100%,
    );
}

