h1{
    margin: 0;
    padding: 0;
}


#displayQuizDiv{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 90%;
}

.quizArticle{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0px 0px 20px 1px #02C3BD;
    border-radius: 1rem;
    background: #0d1b1e;

}

#buttonDiv{
    display: flex;
    justify-content: space-evenly;
}

button {
    background: transparent;
    border: 2px solid #00ffc8;
    border-radius: 25px;
    color: #00ffc8;
    padding: 8px 18px;
    margin: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00ffc8;
    color: #0d1b1e;
}


@media (min-width: 768px) {

    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #headerText{
        width: 100%;
        height: 10vh;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5%;
    }

    #displayQuizDiv{
        display: flex;
        width: 40vw;
    }

    #pointlessTextDiv{
        width: 40vw;
    }

}