#buttonsDiv{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

#buttonsDiv > button{
        margin: 1em;
}

#questionCreationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questionDiv, #correctAnswerDiv, #fillerAnswerDiv  {
    margin: 0;
}




.correctAnswer, .fillerAnswer{
    display: block;
    margin: auto;
}

@media (min-width: 768px) {

}