header{
    width: 100%;
    position: fixed;
    top: 0;
}

#headerBackground{
    width: 95%;
    margin: auto;
    margin-top: 2em;
    background-color: #011615 ;
    height: 4rem;
    border-radius: 45px;
    transition: 0.3s;
    box-shadow: 0px 0px 20px 1px #02C3BD;
}

#headerBackground.scrolled{
    margin-top: 0;
    width: 100%;
    transition: 0.3s;
}

#headerBackground.wait{
    border-radius: 0px;
    transition: 0.3s;
}

#homeButton{
    font-size: 2.5rem;
}

.github-button{
margin: 0;
}

.navButtons {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#rightButtons{
    display: flex;
    gap: 3rem;
}

.navButtons a:nth-child(2){
    margin-left: auto;
}

nav a{
    color: #D6DEC3;
    text-decoration: none;
    transition: 0.15s;
    
}

a:hover{
        cursor: pointer;
        transform: scale(1.1);
        text-decoration: underline 1px;
}

